@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --c-white: #fafafa;
  --c-light: #e5e7eb;
  --bs-body-font-family: 'Poppins', sans-serif;
  --bs-body-bg: var(--c-white);
}

body {
  background-color: var(--c-light);
}

.header {
  background-color: var(--bs-body-bg);
}

.modal-sheet .modal-dialog {
  max-width: 380px;
  transition: bottom 0.75s ease-in-out;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;
}
